:root {
    --black: #1a141a;
    --grey: #423738;
    --brown: #8E5915;
    --cream: #d3af85;
    --yellow: #f4b315;
    --oldyellow: #e59312;
    --white: #fadcfa;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: var(--black);
    color: var(--cream);
}

/* header */
header {
    background: var(--black);
    color: var(--cream);
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--yellow);
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    display: inline-block;
    transition: opacity 0.3s ease;
    font-weight: 500;
}

nav a:hover {
    opacity: 0.7;
    transition: 0.4s;
    transform: scale(1.1);
}

main {
    margin: 56px;
}

main p {
    font-size: 18px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin: 20px;
    padding: 20px 0;
    width: 100%;
}

footer h3 {
    font-size: 24px;
    color: var(--yellow);
}

.profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 2;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.socials a {
    color: var(--cream);
    font-size: 20px;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.socials a:hover {
    opacity: 0.7;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.5;
}

.navigation a {
    text-decoration: none;
    color: var(--cream);
    font-weight: 500;
}

.navigation a::before {
    content: "> ";
}

.profile a:hover,
.navigation a:hover {
    opacity: 0.7;
    transition: 0.4s;
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }

    main {
        margin: 20px 12px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 14px;
    }

    .profile,
    .navigation {
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 468px) {
    
}