@import url(base.css);

.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    position: relative;
    line-height: 2.0;
    z-index: 1;
}

/* .hero::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    pointer-events: none;
} */