@import url(base.css);

* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnBack {
    display: inline-block;
    align-self: flex-start;
    text-decoration: none;
    background-color: var(--yellow);
    padding: 10px 16px;
    color: var(--brown);
    font-weight: bold;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
}

.btnBack:hover {
    background-color: var(--brown);
    color: var(--yellow);
}

h1 {
    margin: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rules-card {
    border: 1px solid;
    border-radius: 8px;
    padding: 24px 32px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
}

.rules-card h2 {
    text-align: center;
}

.rules-card ol {
    max-width: 600px;
    margin: 0 auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btnStart {
    text-decoration: none;
    background: var(--yellow);
    padding: 6px 18px;
    margin: 8px;
    border-radius: 8px;
    color: var(--brown);
    font-weight: bold;
}

.btnStart:hover {
    transition: 0.3s;
    transform: scale(1.1);
    background: var(--brown);
    color: var(--yellow);
}